.header {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.breadcrumbLink {
    color: #0078d4;
    text-decoration: none;
}

.breadcrumbLink:hover {
    text-decoration: underline;
}

.breadcrumb {
    color: #333;
}

.separator {
    color: #555;
}

/* VERSIÓ MÒBIL */

@media (max-width: 768px) {
    .header {
        font-size: 14px; /* Redueix la mida del text */
        margin-bottom: 10px; /* Ajusta l'espai inferior */
    }

    .breadcrumbLink {
        font-size: 12px; /* Ajusta la mida del text dels enllaços */
    }

    .separator {
        font-size: 12px; /* Ajusta la mida del text del separador */
    }
}