.container {
    margin: 40px;
    font-family: Arial, sans-serif;
}

.titolPrincipal {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.titolSeccio {
    color: #0078d4;
    margin-top: 20px;
}

.titolSubseccio {
    color: #0078d4; /* Color blau */
    font-size: 18px; /* Lleugerament més petit */
    margin-top: 10px; /* Espai per sobre */
    margin-bottom: 10px; /* Espai per sota */
}

.llista {
    list-style-type: none;
    padding: 0;
}

.elementLlista {
    margin-bottom: 10px;
}

.textDestacat {
    color: #005a9e;
}

/* VERSIÓ MÒBIL */

@media (max-width: 768px) {
    .container {
        margin: 20px; /* Redueix els marges per pantalles petites */
    }

    .titolPrincipal {
        font-size: 20px; /* Ajusta la mida del text */
    }

    .titolSubseccio {
        font-size: 16px; /* Redueix lleugerament la mida del text */
    }

    .llista {
        padding: 10px; /* Afegim espai intern per evitar que el contingut estigui massa a prop */
    }
}